{% extends 'InsuranceAppBundle:Default:layout.html.twig' %}
{% block stylesheets %}{% endblock %}

{% block body %}

    <div class="container contcustomhead">
        <div class="row">
            <a href="javascript:history.go(-1)">
                <div class="col-xs-1 ch">
                    <span class="fa fa-chevron-left fa-2x"></span>
                </div>
                <div class="col-xs-2 ba">
                    <p>Back</p>
                </div>
            </a>
            <div class="col-xs-6 ticlaim">
                <h2 id="tiindexh2">Claims</h2>
            </div>
            <div class="col-xs-3 logcorner">
                <img id="log" src="{{ asset('bundles/insuranceapp/img/Wandersafe logo_icon-01.png') }}"/>
            </div>
        </div>
    </div>



    <div class="container contscrollclaim">
        <div class="scrolldivclaim">

            <div class="container contcont">
                <div class="row">
                    <div class="col-xs-12">
                        <img src="{{ asset('bundles/insuranceapp/img/claim01filled.png')}}"/>
                    </div>
                </div>
            </div>


            <div class="row rowbtnclaimform">
                <div class="col-xs-6 claimform claimform1">
                    <a href="{{ path('insurance_app_claimsubmit') }}">
                        <button type="button" class="btn btn-default">Add new claim
                        </button>
                    </a>
                </div>

                <div class="col-xs-6 claimform">
                    <a href="{{ path('insurance_app_claim') }}">
                        <button type="button" class="btn btn-default">Delete claim
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>



    <div class="container contpreviousclaim">
        <div class="row rowpreviousclaim">
            <a href="{{ path('insurance_app_claimhistory') }}">
                <div class="col-xs-12 btnpreviousclaim">
                    <button type="button" class="btn btn-default">
                        <span class="fa fa-file-text-o"></span>Previous claims
                    </button>
                </div>
            </a>
        </div>
    </div>


{% endblock %}