{% extends 'InsuranceAppBundle:Default:layout.html.twig' %}
{% block stylesheets %}{% endblock %}

{% block body %}

    <div class="container contcustomhead">
        <div class="row">

               <a href="{{ path('fos_user_security_logout') }}">
                    <div class="col-xs-3 ch">
                        <span class="fa fa-sign-out fa-2x"></span>
                    </div>
                    {#<div class="col-xs-2 ba">#}
                        {#<p>logout</p>#}
                    {#</div>#}
               </a>

            <div class="col-xs-6 tiindex">
                <h2 id="tiindexh2">Wandersafe</h2>
            </div>
            <div class="col-xs-3 logcorner">
                <img id="log" src="{{ asset('bundles/insuranceapp/img/Wandersafe logo_icon-01.png') }}"/>
            </div>
        </div>
    </div>



<div class="container contcustomprofil">
    <a class="refprofileinfo" href="{{ path('insurance_app_profile') }}">
    <div class="row rowprofile">
        <div class="col-xs-3 imgprofil"><span class="fa fa-user-circle-o fa-5x"></span></div>
        <div class="col-xs-7 infopro"><h3>{{ app.user.FirstNames}} {{ app.user.Surname }}</h3><p class="p">Some info</p></div>
        <div class="col-xs-2 pronext"><span class="fa fa-angle-right fa-5x"></span></div>
    </div>
   </a>
</div>

<div class="container contscroll">
    <div class="scrolldiv">
        <a class="refprofileinfo" href="{{ path('insurance_app_plandetail1')}}">
            <div class="row rowprofile">
                <div class="col-xs-3 imgprofil1"><img class="logplan" src="{{ asset('bundles/insuranceapp/img/valise.png') }}"/></div>
                <div class="col-xs-7"><h3>Travel Protection</h3><p class="p">Validity: xx-xx</p></div>
                <div class="col-xs-2 pronext"><span class="fa fa-angle-right fa-5x"></span></div>
            </div>
        </a>

        <a class="refprofileinfo" href="{{ path('insurance_app_plandetail2')}}">
            <div class="row rowprofile">
                <div class="col-xs-3 imgprofil1"><img class="logplan"  src="{{ asset('bundles/insuranceapp/img/plongeur.png') }}"/></div>
                <div class="col-xs-7"><h3>Diving Plan</h3><p class="p">Validity: xx-xx</p></div>
                <div class="col-xs-2 pronext"><span class="fa fa-angle-right fa-5x"></span></div>
            </div>
        </a>

        <a class="refprofileinfo" href="{{ path('insurance_app_plandetail3')}}">
            <div class="row rowprofile">
                <div class="col-xs-3 imgprofil1"><img class="logplan"  src="{{ asset('bundles/insuranceapp/img/scooter.png') }}"/></div>
                <div class="col-xs-7"><h3>Scooter Plan</h3><p class="p">Validity: xx-xx</p></div>
                <div class="col-xs-2 pronext"><span class="fa fa-angle-right fa-5x"></span></div>
            </div>
        </a>


    </div>
</div>
{% endblock %}
