{% extends 'base.html.twig' %}
{% block stylesheets %}{% endblock %}

{% block navbar %}
<div class="container contcustom">
    <div class="row rowcustom">

        <a class="focus" href="{{ path('insurance_app_homepage') }}">
        <div class="col-xs-1 divnav"><p>Profile</p><span class="fa fa-user fa-3x "></span></div></a>

        <a class="focus" href="{{ path('insurance_app_addplan') }}">
        <div class="col-xs-1 divnav"><p>Add Plan</p><span class="fa fa-plus fa-3x"></span></div></a>

        <a class="focus" href="{{ path('insurance_app_claim') }}">
        <div class="col-xs-1 divnav"><p>Claims</p><span class="fa fa-file-text-o fa-3x"></span></div></a>

        <a class="focus" href="{{ path('insurance_app_chat') }}">
        <div class="col-xs-1 divnav"><p>Chat</p><span class="fa fa-comments-o fa-3x"></span></div></a>

        <a class="focus" href="{{ path('insurance_app_SOS') }}">
        <div class="col-xs-1 divnav"><p>Help</p><img id="logsos" src="{{ asset('bundles/insuranceapp/img/SOS icon-01.png') }}"/></div></a>
    </div>
</div>
{% endblock %}